{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Rango
{% endblock %}

{% block body_block %}
    <div class="jumbotron p-4">
	    <div class="container">
			<h1 class="jumbotron-heading">Rango says...</h1>
			<div>
				here is the about page.<br />
				<strong>{{boldmessage}}</strong><br />
			</div>
		</div>
	</div>
	<button class="btn btn-primary" onclick="alert('You clicked the button using inline JavaScript.');">
	    Click me - I run vanilla JavaScript!
	</button>
	<button class="btn btn-primary" id="about-btn">
	    Click me - I'm using JQuery!
	</button>
	<p>This is some text for the JQuery example.</p>
	<div id="msg">Hello! I'm a further example for JQuery testing.</div>
	<div>
		<img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" /><br />
		<img src="{{MEDIA_URL}}cat.jpg" height="300" alt="Picture of a Cat" />
	</div>
	<p>Visits: {{ visits }}</p>
{% endblock %}